# Adding longitude and latitude to the dataframe

### First, we import the libraries

In [1]:
import pandas as pd

In [3]:
# geographical coordinates of each postal code
longitude_latitude = pd.read_csv('https://cocl.us/Geospatial_data')
longitude_latitude.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
# We load the table that we created in question 1
toronto_neighborhoods = pd.read_csv('table_1.csv')
toronto_neighborhoods.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### As you can see, Postal code has a space in longitude_latitude dataframe

In [8]:
# Change the name "Postal Code" in lonlat to "PostalCode", so we colud use it for toronto_neighbors table
longitude_latitude.rename(columns={'Postal Code':'PostalCode'},inplace=True)

# Now, we merge the two dataframes
toronto_geo = pd.merge(toronto_neighborhoods,longitude_latitude,how='left',on='PostalCode')
toronto_geo.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Now we save the dataframe as a CSV file for the next question

In [10]:
table_2 = toronto_geo.to_csv('table_2.csv', index = False)